.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
tmp/*
!tmp/.gitkeep
data/DoctrineORMModule/Proxy/*
!data/DoctrineORMModule/Proxy/.gitkeep
!data/DoctrineORMModule/.gitkeep
public/files/*
!public/files/.gitkeep
build/*
!build/.gitkeep
.DS_Store
.idea/
error_log
fabfile.pyc
*.log
scripts/bake.php