{% extends "layout/layout-login.twig" %}

{% block page_title %} - Recuperação de senha{% endblock %}

{% block content %}

    <div class="col-md-12 text-center">
        <a href="/">
            <img src="/img/logo.png">
        </a>
        {% include 'partials/flash-messages.twig' %}
    </div>

    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Alteração de senha</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post" enctype="application/x-www-form-urlencoded">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </div>
                                <input type="password" name="password" class="form-control"
                                       placeholder="Informe sua nova senha">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-key"></i>
                                </div>
                                <input type="password" name="password-confirmation" class="form-control"
                                       placeholder="Confirme sua nova senha">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success btn-block">
                            <i class="entypo-login"></i>
                            Alterar senha
                        </button>
                    </fieldset>
                    <br/>
                    <div class="text-center">
                        <a class="d-block small mt-3" href="{{ url('login') }}">Retornar ao login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}