{{ doctype }}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block page_title %}{% endblock %}{{ constant('PROJECT_NAME') }}</title>
        <meta name="robots" content="all,follow">
        <meta name="googlebot" content="index,follow,snippet,archive">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="/img/favicon.png">
        <meta name="msapplication-tap-highlight" content="no"/>

        <!-- CUSTOM CSS -->
        <link rel="stylesheet" href="/css/style.css">

        {% block inline_style %}{% endblock %}
    </head>
    <body>
        <div id="main-wrapper" class="main-wrapper">
            {% include 'partials/sidemenu.twig' %}
            <div id="content" class="content container-fluid">
                {% block content %}{% endblock %}
                {% include 'partials/footer.twig' %}
            </div>
        </div>

        <script src="/js/main.js"></script>
    </body>
</html>
{% block footer %}{% endblock %}