{% extends "layout/layout-admin-login.twig" %}

{% block page_title %}Erro na recuperação da senha - {% endblock %}

{% block content %}
    <div class="col-md-12 text-center">
        <a href="{{ url('admin-login') }}">Retornar ao login</a>
    </div>
{% endblock %}