{% extends "layout/layout-admin-login.twig" %}

{% block page_title %}Recuperação de senha - {% endblock %}

{% block content %}
    <div class="login-box-body">
        <p class="login-box-msg">Informe seu e-mail para recuperar a senha</p>

        <form method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group has-feedback">
                <input type="email" name="email" class="form-control material"
                       placeholder="Informe seu e-mail">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                {% if errorMessages.email is defined %}
                    <br/>
                    {% for error in errorMessages.email %}
                        {{ error }}<br/>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Recuperar senha</button>
                </div>
            </div>
            {% if errorMessages.invalidEmail is defined %}
                <br/>
                <div class="alert alert-danger">
                    {{ errorMessages.invalidEmail }}
                </div>
            {% endif %}
        </form>
        <a href="{{ url('admin-login') }}">Retornar ao login</a><br>
    </div>
{% endblock %}