{% extends "layout/layout-admin-login.twig" %}

{% block page_title %}Recuperação de senha - {% endblock %}

{% block content %}
    <div class="login-box-body">
        <p class="login-box-msg">Redefina sua senha</p>

        <form method="post" enctype="application/x-www-form-urlencoded">
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control"
                       placeholder="Informe sua nova senha">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% if errorMessages.password is defined %}
                    <br/>
                    {% for error in errorMessages.password %}
                        {{ error }}<br/>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password-confirmation" class="form-control"
                       placeholder="Confirme sua nova senha">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                {% if errorMessages.passwordConfirmation is defined %}
                    <br/>
                    {% for error in errorMessages.passwordConfirmation %}
                        {{ error }}<br/>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Alterar senha</button>
                </div>
            </div>
            {% if errorMessages.invalidLogin is defined %}
                <br/>
                <div class="alert alert-danger">
                    {{ errorMessages.invalidLogin }}
                </div>
            {% endif %}
        </form>
        <a href="{{ url('admin-login') }}">Retornar ao login</a><br>
    </div>
{% endblock %}