<?php
$queryString = $_GET;
if (!empty($queryString)) {
    $queryString = '?' . http_build_query($queryString);
} else {
    $queryString = "";
}
?>

<div class="row">
    <div class="col-sm-6 col-md-12 col-xs-12 col-left">
        <div aria-live="polite" role="status" id="table-1_info" class="dataTables_info">
            <?php echo sprintf('Página %s de %s. Exibindo registros de %s até %s de um total de %s registros.', $this->current, $this->pageCount, $this->firstItemNumber, $this->lastItemNumber, $this->totalItemCount); ?>
        </div>
    </div>
    <div class="col-sm-6 col-md-12 col-xs-12 col-right">
        <div id="table-1_paginate" class="dataTables_paginate paging_bootstrap">

            <?php if ($this->pageCount): ?>

            <ul class="pagination">

                <!-- First page link -->
                <?php if (isset($this->previous)): ?>
                    <li>
                        <?php $params = array('page' => $this->first); ?>
                        <a href="<?php echo $this->url($this->route, $params); ?><?php echo $queryString; ?>"
                           title="Primeira página">
                            Primeira página
                        </a>
                    </li>
                <?php else: ?>
                    <li class="disabled"><a href="#" title="Primeira página">
                            Primeira página
                        </a>
                    </li>
                <?php endif; ?>

                <!-- Previous page link -->
                <?php if (isset($this->previous)): ?>
                    <li>
                        <?php $params = array('page' => $this->previous); ?>
                        <a href="<?php echo $this->url($this->route, $params); ?><?php echo $queryString; ?>">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                    </li>
                <?php else: ?>
                    <li class="disabled"><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                <?php endif; ?>

                <!-- Numbered page links -->
                <?php foreach ($this->pagesInRange as $page): ?>
                    <?php if ($page != $this->current): ?>
                        <li>
                            <?php $pagesParams = array('page' => $page); ?>
                            <a href="<?php echo $this->url($this->route, $pagesParams); ?><?php echo $queryString; ?>">
                                <?php echo $page; ?>
                            </a>
                        </li>
                    <?php else: ?>
                        <li class="active"><a href="#"><?php echo $page; ?></a></li>
                    <?php endif; ?>
                <?php endforeach; ?>

                <!-- Next page link -->
                <?php if (isset($this->next)): ?>
                    <li>
                        <?php
                        $nextParams = array('page' => $this->next);
                        if (!empty($id)) {
                            $nextParams['id'] = $id;
                        }
                        ?>
                        <a href="<?php echo $this->url($this->route, $nextParams); ?><?php echo $queryString; ?>">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </li>
                <?php else: ?>
                    <li class="disabled"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                <?php endif; ?>

                <?php endif; ?>

                <!-- Last page link -->
                <?php if (isset($this->next)): ?>
                    <li>
                        <?php $lastParams = array('page' => $this->last); ?>
                        <a href="<?php echo $this->url($this->route, $lastParams); ?><?php echo $queryString; ?>"
                           title="Última página">
                            Última página
                        </a>
                    </li>
                <?php else: ?>
                    <li class="disabled"><a href="#" title="Última página">
                            Última página
                        </a>
                    </li>
                <?php endif; ?>

            </ul>

        </div>

    </div>
</div>